body {
    background: #000000;
}

#simulationCanvas {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    width: 100vw;    
    height: 100vh;
    image-rendering: pixelated; 
    z-index: 0;
    transition: all 0.2s ease-in-out;
}

.UI {
    z-index: 10;
    pointer-events: none;
}

.right-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    right: 1rem;
    background-color: rgba(0, 15, 34, 0.541);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    width: 12rem;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
}   

.metadata-group {
    color: #fde8a0;
    font-size: 1rem;
    text-align: center;
    display: flex;
    gap: 2rem;
    text-shadow: 0 0 5px black, 
             0 0 10px black, 
             0 0 15px black;
}

.main-content {
    display: flex;
    padding-left: 1rem;
}

#toggleSimulation {
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.toggleIcon {
  box-sizing: border-box;
  width: 0;
  height: 30px;
  border-color: transparent transparent transparent #fff;
  transition: 0.2s all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 0 15px 25px; /* Forma de Triángulo */
}

#toggleSimulation.playing .toggleIcon {
    border-style: double;
    border-width: 0px 0px 0px 25px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #ecf9fa;
    width: 90%;
    padding: 20px 20px 20px 30px;
    position: absolute;
    bottom: 1rem;
    pointer-events: none;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 15, 34, 0.541);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: fit-content;
    height: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    gap: 10px;
}

.link-icons {
    display: flex;
    gap: 10px;
}

.link-icon {
    pointer-events: auto;
    transition: 0.5s all ease;
    width: 30px;
    height: 30px;
    scale: 1.2;
}   

.link-icon:hover {
    cursor: pointer;
    transition: 0.5s all ease;
    scale: 1.4;
}

#git-logo {
    color: rgb(52, 33, 77);
}

#git-logo:hover {
    color: rgb(92, 49, 148);
}

#linkedIn-logo {
    color: rgb(30, 44, 75);
}

#linkedIn-logo:hover {
    color: rgb(48, 75, 133);
}

#twitter-logo {
    color: rgb(182, 182, 182);
}

#twitter-logo:hover {
    color: rgb(219, 219, 219);
}

#web-link {
    pointer-events: auto;
    
}

