body {
    background-color: #2b2b2b;
    overflow-y: hidden;
}

header {
    text-align: center;
    color: #f0f0f0;
}

#simulationCanvas {
    border: 2px solid #f0f0f0;
    background-color: #1a1a1a;
    width: 100%;    
    height: 80vh;
    image-rendering: pixelated; 
}

.container {
    margin-top: -2rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
    background-color: #3a3a3a;
    color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.control-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.metadata-group {
    color: #d3b349;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    gap: 2rem;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    padding: 20px;
}

